<%= content_for :curator_heading do %>
    <%= @curator.username %>'s Followings
<% end %>

<%= render 'curators/curator_heading' %>
<%= render partial: 'following', collection: @follows, as: :follow || 'There are no followings yet' %>

<div class="row">
  <div class="col-md-12">
    <%= paginate @follows %>
  </div>
</div>