<div class="page-header">
  <h2>Sign Up</h2>
</div>
<%= form_for(resource,
             :as => resource_name,
             :url => registration_path(resource_name),
             html: {class: 'form-horizontal', role: 'form'}) do |f| %>

    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :username, class: 'col-md-2 control-label' %>

      <div class="col-md-10">
        <%= f.text_field :username, class: 'form-control', placeholder: 'Your Username' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-md-2 control-label' %>

      <div class="col-md-10">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Your Email' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-md-2 control-label' %>

      <div class="col-md-10">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-md-2 control-label' %>

      <div class="col-md-10">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>



