<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<a href="<%= @link.url %>"><%= @link.title %></a>

<p>
  <%= @link.description %>
</p>

</body>
</html>