<div class="page-header">
  <div class="row">
    <div class="col-md-11">
      <h1><%= yield :curator_heading %></h1>
    </div>
    <ul class="col-md-1 h1">
      <%= render 'curators/follow_buttons', curator: @curator %>
    </ul>
  </div>
</div>