<% unless current_curator_is?(curator) %>
    <% if current_curator_following?(curator) %>
        <%= form_tag following_path(curator), method: :delete do %>
            <%= submit_tag 'Unfollow', class: 'btn btn-warning' %>
        <% end %>
    <% else %>
        <%= form_tag curator_followers_path(curator), method: :post do %>
            <%= submit_tag 'Follow', class: 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>