<%= content_for :curator_heading do %>
    <%= @curator.username %>'s Page
<% end %>
<%= render 'curator_heading' %>

<div class="row">
  <div class="col-md-7">
    <h2><a href="<%= curator_links_path(@curator) %>"><%= curator_digest_title(@curator) %></a></h2>
    <%= render partial: 'links/link', collection: @links, as: :link %>
    <a href="<%= curator_links_path(@curator) %>">More...</a>
  </div>
  <div class="col-md-5">
    <div class="row ">
      <div class="col-md-12">
        <h3><a href="<%= curator_followers_path(@curator) %>"><%= curator_followers_title(@curator) %></a></h3>
        <%= render partial: 'followers/follower', collection: @followers, as: :follow %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <h3><a href="<%= curator_followings_path(@curator) %>"><%= curator_followings_title(@curator) %></a></h3>
        <%= render partial: 'followings/following', collection: @followings, as: :follow %>
      </div>
    </div>
  </div>
</div>