<%= content_for :curator_heading do %>
    <%= @curator.username %>'s Followers
<% end %>
<%= render 'curators/curator_heading' %>

<%= render partial: 'follower', collection: @follows, as: :follow || 'There are no followers yet' %>

<div class="row">
  <div class="col-md-12">
    <%= paginate @follows %>
  </div>
</div>