<div class="row">
  <div class="col-md-12">
    <h3>
      <span class="glyphicon glyphicon-link"></span><a href="<%= link.url %>">
      <%= link.title %>
    </a>
      <small><%= link.created_at.strftime('%Y-%m-%d') %></small>
    </h3>
    <p>
      <%= link.description %>
    </p>
  </div>
</div>
<hr>
