<%= content_for :curator_heading do %>
    <a href="<%= curator_path(@curator) %>"><%= curator_digest_title(@curator) %></a>
<% end %>

<%= render 'curators/curator_heading' %>
<%= render @links || 'There are no links yet' %>

<div class="row">
  <div class="col-md-12">
    <%= paginate @links %>
  </div>
</div>