<div class="page-header">
  <h1>Create Link</h1>
</div>


<%= form_for(@link, html: {class: 'form-horizontal', role: 'form'}) do |f| %>

    <div class="form-group">
      <label for="title" class="col-md-2 control-label">Title</label>

      <div class="col-md-10">
        <%= f.text_field :title, class: 'form-control', placeholder: 'An Awesome Link' %>
      </div>
    </div>


    <div class="form-group">
      <label for="url" class="col-md-2 control-label">Url</label>

      <div class="col-md-10">
        <%= f.url_field :url, class: 'form-control', placeholder: 'http://awesome.com' %>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-md-2 control-label">Description</label>

      <div class="col-md-10">
        <%= f.text_area :description, class: 'form-control', placeholder: 'This link is awsome' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn' %>
      </div>
    </div>
<% end %>