<!DOCTYPE html>
<html>
<head>
  <title>Indigestion</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag 'application' %>
</head>
<body>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Indigestion</a>
    </div>

    <ul class="nav navbar-nav">
      <% if curator_signed_in? %>
          <li><%= link_to('Sign out', destroy_curator_session_path) %></li>
      <% else %>
          <li><%= link_to('Sign up', new_curator_registration_path) %></li>
          <li><%= link_to('Sign in', new_curator_session_path) %></li>
      <% end %>
    </ul>

    <form class="navbar-form navbar-left" action="<%= search_path  %>" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search in Indigestion" name="query">
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>


    <div class="navbar-form">
        <a href="<%=new_link_path %>" class="btn btn-success navbar-right" title="Add Link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% elsif alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
    <% end %>
  </div>

  <%= yield %>
  <div class="row">
    <div class="col-md-12">
      <footer>
        <hr>
        <p>&copy; Copyright 2014 Indigestion</p>
      </footer>
    </div>
  </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application' %>
</body>
</html>

